---
import PageContainer from "../../components/ui/PageContainer.astro"
import Link from "../../components/ui/Link.astro"
import AvailabilityDecode from "../../components/AvailabilityDecode"
import {ExternalLinkIcon} from '../../components/icons/ExternalLinkIcon';

import {
    Table,
    TableBody,
    TableCell,
    TableHead,
    TableHeader,
    TableRow,
} from "../../components/ui/Table.tsx"


const staffteam = [
{
    STAFFID: "ACCSCA1",
    POSITION: "Director",
    CID: 1384322,
    NAME: "Daniel Dahl Andersen",
    EMAIL: "director@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Director",
},
{
    STAFFID: "ACCSCA2",
    POSITION: "Training Director",
    CID: 1602589,
    NAME: "Jeppe Seier",
    EMAIL: "training-director@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Board",
},
{
    STAFFID: "ACCSCA3",
    POSITION: "Director of Copenhagen FIR",
    CID: 1226374,
    NAME: "Lukas Agerskov",
    EMAIL: "denmark@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Board",
},
{
    STAFFID: "ACCSCA4",
    POSITION: "Director of Polaris FIR",
    CID: 1340812,
    NAME: "Krister Larsen",
    EMAIL: "norway@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Board",
},
{
    STAFFID: "ACCSCA5",
    POSITION: "Director of Sweden FIR",
    CID: 811805,
    NAME: "Martin Loxbo",
    EMAIL: "sweden@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Board",
},
{
    STAFFID: "ACCSCA6",
    POSITION: "Director of Helsinki FIR",
    CID: 1460595,
    NAME: "Richard",
    EMAIL: "finland@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Board",
},
{
    STAFFID: "ACCSCA7",
    POSITION: "Director of Reykjavík CTA",
    CID: 1404194,
    NAME: "Andrew Hobbs",
    EMAIL: "iceland@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Board",
},
{
    STAFFID: "ACCSCA9",
    POSITION: "Data Protection Officer",
    CID: 1203470,
    NAME: "Henrik Sønstebø",
    EMAIL: "dpo@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Web",
},
{
    STAFFID: "ACCSCA11",
    POSITION: "Web Services Director",
    CID: 1352906,
    NAME: "Daniel Lange",
    EMAIL: "web@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Web",
},
{
    STAFFID: "ACCSCA12",
    POSITION: "Web Services Assistant",
    CID: 1512667,
    NAME: "Thor Høgås",
    EMAIL: "web@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Web",
},
{
    STAFFID: "ACCSCA13",
    POSITION: "Web Services Assistant",
    CID: 1419105,
    NAME: "David Mortensen",
    EMAIL: "web@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Web",
},
{
    STAFFID: "ACCSCA14",
    POSITION: "Web Services Assistant",
    CID: 1401513,
    NAME: "Markus Nielsen",
    EMAIL: "web@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Web",
},
{
    STAFFID: "ACCSCA15",
    POSITION: "Web Services Assistant",
    CID: 1581824,
    NAME: "Simon Bjerre",
    EMAIL: "web@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Web",
},
{
    STAFFID: "ACCSCA16",
    POSITION: "Event Coordinator",
    CID: 1157125,
    NAME: "Max Kuhla",
    EMAIL: "event@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Event",
},
{
    STAFFID: "",
    POSITION: "	Event Assistant Sweden",
    CID: 1480664,
    NAME: "Marcus Lundelin",
    EMAIL: "event@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Event",
},
{
    STAFFID: "",
    POSITION: "	Event Assistant Denmark",
    CID: 1581824,
    NAME: "Simon Bjerre",
    EMAIL: "event@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Event",
},
{
    STAFFID: "",
    POSITION: "	Event Assistant Norway",
    CID: 1540722,
    NAME: "Nicolas Hennes",
    EMAIL: "event@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Event",
},
{
    STAFFID: "",
    POSITION: "	Event Assistant Finland",
    CID: 1458761,
    NAME: "Henri Luiro",
    EMAIL: "event@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Event",
},
{
    STAFFID: "",
    POSITION: "	Event Assistant Iceland",
    CID: 1308253,
    NAME: "Jonathan Fong",
    EMAIL: "event@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Event",
},
{
    STAFFID: "ACCSCA17",
    POSITION: "Pilot Training Manager",
    CID: 1440666,
    NAME: "Jere Heiskanen",
    EMAIL: "pilot-training@vatsim-scandinavia.org",
    AVILABILITY: "DEP",
    DEPARTMENT: "Pilot",
},
{
    STAFFID: "ACCSCA18",
    POSITION: "Chief Flight Instructor",
    CID: 1358735,
    NAME: "Arttu Uusi-Kyyny",
    EMAIL: "pilot-training@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Pilot",
},
{
    STAFFID: "ACCSCA19",
    POSITION: "Deputy Chief Flight Instructor",
    CID: 1193177,
    NAME: "Vincent Matsuuke",
    EMAIL: "pilot-training@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Pilot",
},
{
    STAFFID: "ACCSCA20",
    POSITION: "Acting Pilot Training Manager",
    CID: 1480445,
    NAME: "	Tiitus Ehiarinmwian",
    EMAIL: "pilot-training@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Pilot",
},
{
    STAFFID: "ACCSCA21",
    POSITION: "Training Assistant Sweden",
    CID: 937154,
    NAME: "Håkan Schulz",
    EMAIL: "training-sweden@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
},
{
    STAFFID: "ACCSCA22",
    POSITION: "Training Assistant Denmark",
    CID: 1336291,
    NAME: "Jakob Ek Jensen",
    EMAIL: "training-denmark@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
},
{
    STAFFID: "ACCSCA23",
    POSITION: "Training Assistant Norway",
    CID: 1559031,
    NAME: "Sander Lislott",
    EMAIL: "training-norway@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
},
{
    STAFFID: "ACCSCA24",
    POSITION: "Training Assistant Finland",
    CID: 1339541,
    NAME: "Otto Tuhkunen",
    EMAIL: "training-finland@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
},
{
    STAFFID: "ACCSCA25",
    POSITION: "Training Assistant Iceland",
    CID: 1196137,
    NAME: "Kieran Riley",
    EMAIL: "training-iceland@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
},
{
    STAFFID: "ACCSCA26",
    POSITION: "Deputy Training Assistant Sweden",
    CID: "-",
    NAME: "-",
    EMAIL: "training-sweden@vatsim-scandinavia.org",
    AVILABILITY: "VAC",
    DEPARTMENT: "Training",
},
{
    STAFFID: "ACCSCA27",
    POSITION: "Deputy Training Assistant Denmark",
    CID: 1447687,
    NAME: "Thomas Brøgger",
    EMAIL: "training-denmark@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
},
{
    STAFFID: "ACCSCA28",
    POSITION: "Deputy Training Assistant Norway",
    CID: 1621930,
    NAME: "Marius Linge",
    EMAIL: "training-norway@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
},
];

const departments: { [key: string]: any } = {};

staffteam.forEach((staff) => {
    const { DEPARTMENT, ...rest } = staff;
    if (!departments[DEPARTMENT]) {
        departments[DEPARTMENT] = [rest];
    } else {
        departments[DEPARTMENT].push(rest);
    }
});

export { departments };

---

<PageContainer SiteTitle="Staff">
    <h1 class="text-5xl py-12 font-semibold">Staff</h1>

    <div class="bg-white/75 dark:bg-tertiary p-8">
        <p class="text-lg dark:text-white italic text-center">
            Feedback for our ATC services, or general comments about VATSIM
            Scandinavia can be sent
            <Link href="https://cc.vatsim-scandinavia.org/feedback" target="_blank">here<ExternalLinkIcon width="0.75rem" marginLeft="0.3rem"/> </Link>
        </p>
        
        <div
        class="w-full max-w-[1500px] py-6 flex flex-col gap-4 place-content-center justify-items-center"
        >
        <Table class:list={"bg-black dark:bg-white"}>
            <TableHeader>
                <TableRow>
                    <TableHead className="font-bold text-black dark:text-white">Staff ID</TableHead>
                    <TableHead className="font-bold text-black dark:text-white">Position</TableHead>
                    <TableHead className="font-bold text-black dark:text-white">CID</TableHead>
                    <TableHead className="font-bold text-black dark:text-white">Name</TableHead>
                    <TableHead className="font-bold text-black dark:text-white">E-mail</TableHead>
                    <TableHead className="font-bold text-black dark:text-white">Availability</TableHead>
                </TableRow>
            </TableHeader>
            <TableBody>
                {
                    departments["Director"].map((staff: any) => (
                    <TableRow>
                        <TableCell className="font-bold">{staff.STAFFID}</TableCell>
                        <TableCell>{staff.POSITION}</TableCell>
                        <TableCell>{staff.CID}</TableCell>
                        <TableCell>{staff.NAME}</TableCell>
                        <TableCell>{staff.EMAIL}</TableCell>
                        <TableCell>
                            <AvailabilityDecode Availability={staff.AVILABILITY}/>
                        </TableCell>
                    </TableRow>
                    ))
                }
                {
                    departments["Board"].map((staff: any) => (
                    <TableRow>
                        <TableCell className="font-bold">{staff.STAFFID}</TableCell>
                        <TableCell>{staff.POSITION}</TableCell>
                        <TableCell>{staff.CID}</TableCell>
                        <TableCell>{staff.NAME}</TableCell>
                        <TableCell>{staff.EMAIL}</TableCell>
                        <TableCell>
                            <AvailabilityDecode Availability={staff.AVILABILITY}/>
                        </TableCell>
                    </TableRow>
                    ))
                }
                {
                    departments["Web"].map((staff: any) => (
                    <TableRow>
                        <TableCell className="font-bold">{staff.STAFFID}</TableCell>
                        <TableCell>{staff.POSITION}</TableCell>
                        <TableCell>{staff.CID}</TableCell>
                        <TableCell>{staff.NAME}</TableCell>
                        <TableCell>{staff.EMAIL}</TableCell>
                        <TableCell>
                            <AvailabilityDecode Availability={staff.AVILABILITY}/>
                        </TableCell>
                    </TableRow>
                    ))
                }
                {
                    departments["Event"].map((staff: any) => (
                    <TableRow>
                        <TableCell className="font-bold">{staff.STAFFID}</TableCell>
                        <TableCell>{staff.POSITION}</TableCell>
                        <TableCell>{staff.CID}</TableCell>
                        <TableCell>{staff.NAME}</TableCell>
                        <TableCell>{staff.EMAIL}</TableCell>
                        <TableCell>
                            <AvailabilityDecode Availability={staff.AVILABILITY}/>
                        </TableCell>
                    </TableRow>
                    ))
                }
                {
                    departments["Pilot"].map((staff: any) => (
                    <TableRow>
                        <TableCell className="font-bold">{staff.STAFFID}</TableCell>
                        <TableCell>{staff.POSITION}</TableCell>
                        <TableCell>{staff.CID}</TableCell>
                        <TableCell>{staff.NAME}</TableCell>
                        <TableCell>{staff.EMAIL}</TableCell>
                        <TableCell>
                            <AvailabilityDecode Availability={staff.AVILABILITY}/>
                        </TableCell>
                    </TableRow>
                    ))
                }
                {
                    departments["Training"].map((staff: any) => (
                    <TableRow>
                        <TableCell className="font-bold">{staff.STAFFID}</TableCell>
                        <TableCell>{staff.POSITION}</TableCell>
                        <TableCell>{staff.CID}</TableCell>
                        <TableCell>{staff.NAME}</TableCell>
                        <TableCell>{staff.EMAIL}</TableCell>
                        <TableCell>
                            <AvailabilityDecode Availability={staff.AVILABILITY}/>
                        </TableCell>
                    </TableRow>
                    ))
                }
            </TableBody>
        </Table>

        <div class="flex flex-row gap-5 justify-between text-sm mt-4 max-lg:flex-wrap">
            <span class="max-lg:w-[100%]"><AvailabilityDecode Availability="AVL"/> = Available and can be reached on a daily basis</span>
            <span class="max-lg:w-[100%]"><AvailabilityDecode Availability="OOO"/> = Out of Office (longer vacation, 3-6 weeks)</span>
            <span class="max-lg:w-[100%]"><AvailabilityDecode Availability="DEP"/> = Away for more than 2 months</span>
            <span class="max-lg:w-[100%]"><AvailabilityDecode Availability="VAC"/> = Vacant Position</span>
        </div>
    </div>
</PageContainer>
